# Default ignored files
/shelf/
/workspace.xml
/.idea/
/out/
/src/ru/crafts/Calculator.java
/src/ru/crafts/Fib.java
/src/ru/crafts/FizzBuzz.java
/src/ru/crafts/Greeting.java
/src/ru/crafts/LeapYear.java
/test/ru/crafts/CalculTest.java
/test/ru/crafts/FibTest.java
/test/ru/crafts/FizzBuzzTest.java
/test/ru/crafts/GreetingTest.java
/test/ru/crafts/LeapYearTest.java
MoscowClub.iml
vcs.xml


